{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/engineer.abrarfahim"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/abrfahim36/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/abrfahim"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/abrfahim/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://www.linkedin.com/in/abrfahim/" target="_blank">Abrar Fahim</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->